<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Allow LetsEncrypt" patternSyntax="Wildcard" stopProcessing="true">
          <match url=".well-known/*"/>
          <action type="None"/>
        </rule>
        <rule name="Redirect HTTP to HTTPS" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" ignoreCase="false"/>
          <conditions>
            <add input="{HTTPS}" pattern="off"/>
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
<!--ProjectGuid: 790CEF96-22C4-4FD4-B327-6DA0EBE10A0C-->